﻿@model WebApp.Models.Attachment
  <div class="form-row">
   @Html.HiddenFor(x=>x.Id)
         <!--文件名-->
        <div class="col-xs-12 col-md-6">
            <label class="form-label text-danger">@Html.DisplayNameFor(model => model.FileName)</label>
			@Html.EditorFor(x => x.FileName, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.FileName) } })
      
         </div>

        <!--文件ID-->
        <div class="col-xs-12 col-md-6">
            <label class="form-label ">@Html.DisplayNameFor(model => model.FileId)</label>
			@Html.EditorFor(x => x.FileId, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.FileId) } })
      
         </div>

        <!--附件类型-->
        <div class="col-xs-12 col-md-6">
            <label class="form-label ">@Html.DisplayNameFor(model => model.Ext)</label>
			@Html.EditorFor(x => x.Ext, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Ext) } })
      
         </div>

        <!--保存路径-->
        <div class="col-xs-12 col-md-6">
            <label class="form-label ">@Html.DisplayNameFor(model => model.FilePath)</label>
			@Html.EditorFor(x => x.FilePath, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.FilePath) } })
      
         </div>

        <!--关联单号-->
        <div class="col-xs-12 col-md-6">
            <label class="form-label ">@Html.DisplayNameFor(model => model.RefKey)</label>
			@Html.EditorFor(x => x.RefKey, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.RefKey) } })
      
         </div>

        <!--上传用户-->
        <div class="col-xs-12 col-md-6">
            <label class="form-label ">@Html.DisplayNameFor(model => model.Owner)</label>
			@Html.EditorFor(x => x.Owner, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Owner) } })
      
         </div>

       <!--上传时间-->
       <div class="col-xs-12 col-md-6">
            <label class="form-label text-danger">@Html.DisplayNameFor(model => model.Upload)</label>
            <div class="input-group">
			  @Html.EditorFor(x => x.Upload, 
                         new { htmlAttributes = new { @class = "form-control datepicker hasDatepicker",
                               placeholder = Html.DisplayNameFor(x => x.Upload ) } })
               <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			 </div>
         </div>

	    
</div>

